<h2>Edit <%= resource_name.to_s.humanize %></h2>
<!-- 
<table>
  <tr>
    <td>ユーザー名</td>
    <td><%= current_user.name %></td>
  </tr>
  <tr>
    <td>会社名</td>
    <td><%= current_user.corporation %></td>
  </tr>
  <tr>
    <td>担当者名</td>
    <td><%= current_user.owner %></td>
  </tr>
  <tr>
    <td>メール</td>
    <td><%= current_user.email %></td>
  </tr>
</table> -->

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :name, :readonly => true, :label => "ユーザー名" %>
    <%= f.input :corporation, :readonly => true, :label => "会社名" %>
    <%= f.input :owner, :readonly => true, :label => "担当者名" %>
    <%= f.input :email, :readonly => true, :label => "メール" %>
    <p class="label label-important">※パスワードを変更する場合は以下の3つの項目を入力してください</p>
    <%= f.input :password, autocomplete: "off", :label => '現在のパスワード' %>
    <%= f.input :password_confirmation, required: false, :label => 'パスワードの確認' %>
    <%= f.input :current_password, :label => '新しいパスワード' %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>
