
<% if current_user.admin_flag == 1 %>

<%= search_form_for @search, url: users_path do |f| %>
  <%= f.label :videos_start_date, '利用開始日' %>
  <%= f.date_select :videos_start_date_gteq, include_blank: true, :start_year => Time.now.year-1 %>〜
  <%= f.date_select :videos_start_date_lteq, include_blank: true, :start_year => Time.now.year-1 %>
  <div><%= f.submit '検索' %></div>
<% end %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@search, :id, 'ID') %></th>
      <th>ユーザー名</th>
      <th class="mobile">会社名</th>
      <th class="mobile">担当者名</th>
      <th>メールアドレス</th>
      <th><%= sort_link(@search, :videos_count, '動画アップ数') %></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td class="mobile"><%= user.corporation %></td>
        <td class="mobile"><%= user.owner %></td>
        <td><%= user.email %></td>
        <td><%= user.videos.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>

<br>

<%= paginate @users %>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  <strong><%= current_user.email %></strong>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% end %>