<%= simple_form_for [@user, Video.new] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :label => '動画名' %>
    <%= f.input :start_date, :label => '利用開始日' %>
    <%= f.input :url, :as => :file, :label => "動画内容" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
